# npm dependencies
/node_modules

# it holds the compiled artifacts (bytecode and metadata), 
# it’s a good idea to add this directory to your .gitignore
/artifacts/**/*.json
/artifacts/contracts/**/*.json

# it holds our infuraProjectId, mnemonic, etherscanApiKey
# do not share with anyone
secrets.json

# misc
.DS_Store

# git
.git

# tutorial
/hashlips_art_engine
